<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liurui.base.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liurui.base.sys.entity.SysUser">
        <id column="id" property="id" />
    <result column="del_flag" property="delFlag" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="nick_name" property="nickName" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="department_id" property="departmentId" />
        <result column="position_id" property="positionId" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="photo" property="photo" />
        <result column="state" property="state" />
        <result column="last_ip" property="lastIp" />
        <result column="last_time" property="lastTime" />
        <result column="login_flag" property="loginFlag" />
        <result column="remark" property="remark" />
        <result column="expand1" property="expand1" />
        <result column="expand2" property="expand2" />
        <result column="expand3" property="expand3" />
        <result column="expand4" property="expand4" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        id, name, nick_name, account, password, department_id, position_id, sex, phone, email, photo, state, last_ip, last_time, login_flag, remark, expand1, expand2, expand3, expand4
    </sql>

</mapper>
